<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav">
                <li class="navbar-brand nav-item"><a class="nav-link" href="{% url 'index' %}">MY SITE</a></li>
                <li class="navbar-brand nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li class="navbar-brand nav-item"><a class="nav-link" href="{% url 'my_app:registeration' %}">Registeration</a></li>
                {% if user.is_authenticated %}
                <li class="navbar-brand nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="navbar-brand nav-item"><a class="nav-link" href="{% url 'my_app:user_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>